[Unit]
Description=Monitor Shumeyko test cabinet health

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=shumeiko-web-test-health.service

[Install]
WantedBy=timers.target
