[Unit]
Description=Monitor Shumeyko production cabinet health

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=shumeiko-web-prod-health.service

[Install]
WantedBy=timers.target
